In [1]:
# For Save Model
import pickle
import joblib
import json

import pandas as pd

c:\Users\irfan\anaconda3\New folder\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\irfan\anaconda3\New folder\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# Load model and other files

with open('list_cols.txt', 'r') as file_1:
  list_cols = json.load(file_1)

with open("scaler.pkl", "rb") as file_2:
  scaler = pickle.load(file_2)

with open("pca.pkl", "rb") as file_3:
  pca = pickle.load(file_3)

with open("model_kmeans.pkl", "rb") as file_4: 
  model_kmeans = pickle.load(file_4)

In [5]:
# Assuming data_dummy is your dictionary
data_dummy = {
    'cust_id': [570, 1090 ],
    'balance': [1.979916,154.641707],
    'balance_frequency': [1.0, 0.125],
    'purchases': [103.0, 297.4],
    'oneoff_purchases': [226.9, 427.22],
    'installments_purchases': [773.34, 805.14],
    'cash_advance': [4359.32575, 455.227731 ],
    'purchases_frequency': [0.714286, 0.818182],
    'oneoff_purchases_frequency': [0.666667, 0.714286],
    'purchases_installments_frequency': [0.571429, 0.888889],
    'cash_advance_frequency': [0.727273, 0.111111],
    'cash_advance_trx': [46, 22],
    'purchases_trx': [104, 117],
    'credit_limit': [513.64046, 1100.892272],
    'payments': [343.102984, 258.032630],
    'minimum_payments': [886.050237, 56.720210],
    'prc_full_payment': [0.375, 0.4],
    'tenure': [11, 12],
}

# Create DataFrame
df_data_dummy = pd.DataFrame(data_dummy)

# Display DataFrame
display(df_data_dummy.head())

,cust_id,balance,balance_frequency,purchases,oneoff_purchases,installments_purchases,cash_advance,purchases_frequency,oneoff_purchases_frequency,purchases_installments_frequency,cash_advance_frequency,cash_advance_trx,purchases_trx,credit_limit,payments,minimum_payments,prc_full_payment,tenure
0,570,1.979916,1.000,103.0,226.90,773.34,4359.325750,0.714286,0.666667,0.571429,0.727273,46,104,513.640460,343.102984,886.050237,0.375,11
1,1090,154.641707,0.125,297.4,427.22,805.14,455.227731,0.818182,0.714286,0.888889,0.111111,22,117,1100.892272,258.032630,56.720210,0.400,12

In [15]:
#Splitting the dataset into categorical and numerical columns
data_inference_selected = df_data_dummy[list_cols]

# Scaling the numerical features, encoding the categorical features, and concatenating them back again
data_inference_scaled = scaler.transform(data_inference_selected)
data_inference_scaled_reduced = pca.transform(data_inference_scaled)
data_inference_final = data_inference_scaled_reduced
data_inference_final

array([[-0.66914457,  5.598497  ,  3.06559911,  3.03655451,  3.0880008 ],
       [ 1.8259748 , -1.7813388 ,  2.58153274,  6.04657357, -0.20759051]])

In [16]:
# Predict the score
predicted_score = model_kmeans.predict(data_inference_final)

# Show result
print(f"Predicted Overall: {predicted_score[0]:.2f}")

Predicted Overall: 3.00